# Ignore node_modules everywhere
node_modules/

# Ignore env files
*.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/

# (optional) Ignore frontend build output at root, if you copy builds
gamestore_frontend/build/
