.background-browse {
    width: 100%;
    height: 1100px;
    background: linear-gradient(to bottom, #3E4C71, #191D31);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-content-browse {
    width: 85%;
    height: 900px;
    display: flex;
    justify-content: space-between;
}

#search-input {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    background-color: #D9D9D999;
    outline: none;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

#search-input:focus {
    outline: none;
    border: none;

}


.left-browse-section {
    padding: 10px;
    width: 29%;
    height: 100%;
    border-radius: 15px;
    background-color: #14141499;
}

.right-games-section {
    overflow-y: scroll;
    width: 69%;
    height: 100%;
    border-radius: 15px;
}

.scrollable-browse {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.right-games-section::-webkit-scrollbar {
    width: 10px;
}

.right-games-section::-webkit-scrollbar-track {
    background: #191D31;
    border-radius: 10px;
}

.right-games-section::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #3E4C71;
    border-radius: 10px;
}

.right-games-section::-webkit-scrollbar-thumb:hover {
    background-color: #516394;
}

.top-browse {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.skinny-white-bar-browse {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.top-browse h4 {
    margin: 0;
}

.dropdown-browse {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.inner-genre {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow-down {
    cursor: pointer;
    font-size: 40px;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.arrow-down.rotate-up {
    transform: rotate(180deg);
}

.dropdown-genre-section {
    width: 100%;
    height: auto;
}

#genre {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px !important;
    margin: 0;
    user-select: none;
}

.genre-item-browse {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 35px;
    background-color: #D9D9D966;
    margin: 0 !important;
    width: fit-content;
    padding: 5px;
}

.genre-item-browse-selected {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 35px;
    background-color: #fff;
    margin: 0 !important;
    width: fit-content;
    padding: 5px;
}

.genre-h2 {
    margin: 0 !important;
    font-size: 0.8rem;
    line-height: 1;
}