.genrebox{
    width: auto;
    padding: 5px;
    height: 35px;
    display: flex;
    background-color: #5D5D5D;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.genrebox p {
    margin: 0;
    font-size: 0.7rem !important;
}